<div>
  <nz-layout>
    <nz-header>
      <div>
        <a><img src="../../../assets/Ellipse 1.png"/></a>
      </div>
    </nz-header>
    <nz-content>
      <div>
        <a><img class="center" src="../../../assets/logo@3x.png"/></a>
      </div>
      <div>
        <nz-tabset nzCentered>
          <nz-tab nzTitle="หน้าหลัก">
            <div nz-row class="tab1">
              <div nz-col nzSpan="11" style="margin-right: 52px;">
                <img
                  src="../../../assets/crop.png"
                  style="width: 536px; height: 505px; "
                />
              </div>
              <div nz-col nzSpan="11">
                <div nz-row>
                  <div
                    nz-row
                    style="width: 536px; height: 245px; margin-bottom: 15px ;"
                  >
                    <img
                      src="../../../assets/chaman-raj-zWSh_WgSqLM-unsplash.png"
                    />
                  </div>
                  <div nz-row style="width: 536px; height: 245px;">
                    <img
                      src="../../../assets/morgane-perraud-XhrW0XlRy8c-unsplash.png"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              nz-row
              class="tab1"
              style="margin-top: 15px;"
              nzJustify="space-between"
            >
              <div nz-col nzOrder="4">
                <img src="../../../assets/cookie 4@3x.png" />
              </div>
              <div nz-col nzOrder="3">
                <img src="../../../assets/cookie1@3x.png" />
              </div>
              <div nz-col nzOrder="2">
                <img src="../../../assets/cookie 3@3x.png" />
              </div>
              <div nz-col nzOrder="1">
                <img src="../../../assets/cookie 2@3x.png" />
              </div>
            </div>
            <div nz-row class="tab1" style="margin-top: 45px;">
              <div nz-col nzSpan="11" style="margin-right: 52px;">
                <img src="../../../assets/about@3x.png" />
              </div>
              <div nz-col nzSpan="11">
                <img
                  src="../../../assets/monika-grabkowska-bwF3hwmnGWQ-unsplash.png"
                />
              </div>
            </div>
            <div style="height: 178px;width: 100%; background-color: #C6A966; margin-top: 45px;">
              <p style="font-size: 81px; font-weight: lighter;text-align: center;margin: 0px;">Best Seller</p>
              <p style="font-size: 18px; font-weight: lighter;text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
            </div>
            <div nz-row nzJustify="space-between" class="tab1">
              <div nz-col nzSpan="4">
                <nz-card style="width:300px;">
                  <img src="../../../assets/the-creative-exchange-RkcWBcH10C0-unsplash.png">
                </nz-card>
              </div>
              <div nz-col nzSpan="4">col-4</div>
              <div nz-col nzSpan="4">col-4</div>
              <div nz-col nzSpan="4">col-4</div>
            </div>

          </nz-tab>
          <nz-tab nzTitle="เกี่ยวกับเรา">
            Content of Tab Pane 2sfas
          </nz-tab>
          <nz-tab nzTitle="สินค้า">
            Content of Tab Pane 3
          </nz-tab>
          <nz-tab nzTitle="บทความ">
            Content of Tab Pane 1
          </nz-tab>
          <nz-tab nzTitle="ติดต่อเรา">
            Content of Tab Pane 2
          </nz-tab>
          <nz-tab [nzTitle]="titleTemplate">
            <ng-template #titleTemplate>
              <img
                style="width: 32px; height: 32px;"
                src="../../../assets/cookies (1).png"
              />
            </ng-template>
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-content>
    <!-- <nz-footer>Footer</nz-footer> -->
  </nz-layout>
</div>
