nz-header {
  height: 42;
  background-color: #3e261d;
}

nz-content {
  background-color: white;

}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.tab1 {
  width: 1088px;
  margin-left: auto;
  margin-right: auto;
  
}
