<div>
  <nz-layout>
    <nz-header>
      <div>
        <a><img src="../../../assets/Ellipse 1.png"/></a>
      </div>
    </nz-header>
    <nz-content>
      <div>
        <a><img class="center" src="../../../assets/logo@3x.png"/></a>
      </div>
      <div>
        <nz-tabset nzCentered>
          <!-- TAB 1!!!!!!!!!------------------------------------------------------------------------------------------- -->
          <nz-tab nzTitle="หน้าหลัก">
            <div nz-row class="tab1">
              <div nz-col nzSpan="11" style="margin-right: 52px;">
                <img
                  src="../../../assets/crop.png"
                  style="width: 536px; height: 505px; "
                />
              </div>
              <div nz-col nzSpan="11">
                <div nz-row>
                  <div
                    nz-row
                    style="width: 536px; height: 245px; margin-bottom: 15px ;"
                  >
                    <img
                      src="../../../assets/chaman-raj-zWSh_WgSqLM-unsplash1.png"
                    />
                  </div>
                  <div nz-row style="width: 536px; height: 245px;">
                    <img
                      src="../../../assets/morgane-perraud-XhrW0XlRy8c-unsplash.png"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              nz-row
              class="tab1"
              style="margin-top: 15px;"
              nzJustify="space-between"
            >
              <div nz-col nzOrder="4">
                <img src="../../../assets/cookie 4@3x.png" />
              </div>
              <div nz-col nzOrder="3">
                <img src="../../../assets/cookie1@3x.png" />
              </div>
              <div nz-col nzOrder="2">
                <img src="../../../assets/cookie 3@3x.png" />
              </div>
              <div nz-col nzOrder="1">
                <img src="../../../assets/cookie 2@3x.png" />
              </div>
            </div>
            <div nz-row class="tab1" style="margin-top: 45px;">
              <div nz-col nzSpan="11" style="margin-right: 52px;">
                <img src="../../../assets/about@3x.png" />
              </div>
              <div nz-col nzSpan="11">
                <img
                  src="../../../assets/monika-grabkowska-bwF3hwmnGWQ-unsplash.png"
                />
              </div>
            </div>
            <div
              style="height: 178px;width: 100%; background-color: #C6A966; margin-top: 45px; margin-bottom: 65px;"
            >
              <p
                style="font-size: 81px; font-weight: lighter;text-align: center;margin: 0px;"
              >
                Best Seller
              </p>
              <p
                style="font-size: 18px; font-weight: lighter;text-align: center;"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et
              </p>
            </div>

            <!-- Card -->
            <div
              nz-row
              nzJustify="space-between"
              class="tab1"
              style="margin-bottom: 70px;"
            >
              <div nz-col>
                <nz-card style="width:262px;">
                  <div class="overflow">
                    <img
                      class="zoom"
                      src="../../../assets/the-creative-exchange-RkcWBcH10C0-unsplash.png"
                    />
                  </div>
                  <div style="background-color: #3E261D; height: 144px;">
                    <p class="p2 ">Cookie Oatmeal</p>
                    <p class="p3">45.00 บาท</p>
                  </div>
                </nz-card>
              </div>
              <div nz-col>
                <nz-card style="width:262px;">
                  <div class="overflow">
                    <img
                      class="zoom"
                      src="../../../assets/aditya-joshi-bbAsuHZvWyY-unsplash.png"
                    />
                  </div>
                  <div style="background-color: #3E261D; height: 144px;">
                    <p class="p2">Biscuit</p>
                    <p class="p3">40.00 บาท</p>
                  </div>
                </nz-card>
              </div>
              <div nz-col>
                <nz-card style="width:262px;">
                  <div class="overflow">
                    <img class="zoom" src="../../../assets/cookie3.png" />
                  </div>
                  <div style="background-color: #3E261D; height: 144px;">
                    <p class="p2">Cookie Oatmeal</p>
                    <p class="p3">45.00 บาท</p>
                  </div>
                </nz-card>
              </div>
              <div nz-col>
                <nz-card style="width:262px;">
                  <div class="overflow">
                    <img
                      class="zoom"
                      src="../../../assets/food-photographer-jennifer-pallian-OfdDiqx8Cz8-unsplash.png"
                    />
                  </div>

                  <div style="background-color: #3E261D; height: 144px;">
                    <p class="p2">Cookie Chocolate</p>
                    <p class="p3">65.00 บาท</p>
                  </div>
                </nz-card>
              </div>
            </div>
            <!-- div3 -->
            <div nz-row class="tab1" nzJustify="space-between">
              <div nz-col class="div3">
                <div>
                  <img class="setimg" src="../../../assets/cookie (2).png" />
                </div>
                <p class="p4">สถาที่ตั้งร้าน</p>
              </div>
              <div nz-col class="div3">
                <div>
                  <img class="setimg" src="../../../assets/cookie (3).png" />
                </div>
                <p class="p4">เปิดบริการทุกวัน</p>
              </div>
              <div nz-col class="div3">
                <div>
                  <img class="setimg" src="../../../assets/cracker.png" />
                </div>
                <p class="p4">บริการจัดส่งถึงที่</p>
              </div>
            </div>
            <div style="margin-top: 40px; margin-bottom: 65px;">
              <img style="width: 100%;" src="../../../assets/about2@3x.png" />
            </div>
          </nz-tab>
          <nz-tab nzTitle="เกี่ยวกับเรา">
            <div class="tab1">
              <img src="../../../assets/conor-brown-cwJN3dVJpxo-unsplash.png" />
              <div class="backimg">
                <img
                  class="logotab2 center"
                  src="../../../assets/logo@3x.png"
                />
                <p
                  class="p4"
                  style="font-size: 81px; font-weight:300;margin-bottom: 0px;"
                >
                  "อบ สด ใหม่ ทุกวัน"
                </p>
                <p class="phara">
                  Curabitur vel vestibulum ex. Quisque finibus hendrerit ante,
                  lobortis tristique nunc.
                </p>
                <br />
                <p class="phara">
                  Pellentesque ullamcorper, sapien in venenatis imperdiet, quam
                  arcu efficitur orci, quis pellentesque nulla erat eget nisi.
                </p>
                <br />
                <p class="phara">
                  Nullam eget congue enim. Vestibulum at molestie odio, vel
                  venenatis mi. Nam sit amet metus sagittis, volutpat massa
                </p>
                <br />
                <p class="phara">
                  eu, eleifend ex. Etiam pulvinar blandit nisi, nec accumsan
                  nulla consectetur id.
                </p>
              </div>
              <div
                style="height: 178px;width: 100%; background-color: #C6A966; margin-top: 45px; margin-bottom: 65px;"
              >
                <p
                  style="margin-bottom: 0px;font-size: 81px; font-weight: 200;text-align: center;margin: 0px;"
                >
                  Blog
                </p>
                <p style="font-size: 18px; font-weight: lighter;text-align: center;">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et
                </p>
              </div>
            </div>
          </nz-tab>
          <nz-tab nzTitle="สินค้า">
            Content of Tab Pane 3
          </nz-tab>
          <nz-tab nzTitle="บทความ">
            Content of Tab Pane 1
          </nz-tab>
          <nz-tab nzTitle="ติดต่อเรา">
            Content of Tab Pane 2
          </nz-tab>
          <nz-tab [nzTitle]="titleTemplate">
            <ng-template #titleTemplate>
              <img
                style="width: 32px; height: 32px;"
                src="../../../assets/cookies (1).png"
              />
            </ng-template>
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-content>
    <nz-footer>
      <div nz-row nzJustify="space-between" class="tab1">
        <div nz-col style="width: 342px;">
          <img
            src="../../../assets/logo@3x.png"
            style="width: 250px; height: 80px;
            margin-left: auto;
            display: block;
            margin-right: auto;"
          />
        </div>
        <div nz-col style="width: 342px;" class="test"></div>
        <div nz-col style="width: 342px;" class="test">
          <div nz-row></div>
        </div>
        <div nz-col style="width: 342px;" class="test"></div>
      </div>
    </nz-footer>
  </nz-layout>
</div>
